{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="container-fluid">
<div class="row">

    <div class="col-sm-12 jumbo" style="background-image: url('{% static 'images/backgroundsurfing.jpg'%}')">
        <div class="jumbocontents">
            <img id="headerlogo" src="{% static 'images/title2.png' %}" width="300px"/>
            <hr class="line1">
            <hr class="line1">
            <div class="enteremail">
                <h4> Sign up for daily updates on surf conditions and special offers </h4>
                <a href="{% url 'register' %}" class="btn btn-lg btn-success hvr-grow">SIGN UP <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 jumbomobile" style="background-image: url('{% static 'images/backgroundsurfingmobile.jpg'%}')">
        <div class="jumbocontentsmobile">
            <img id="headerlogomobile" src="{% static 'images/title2.png' %}" width="300px"/>
            <hr class="line1">
            <hr class="line1">
            <div class="enteremailmobile">
                <h4> Sign up for daily updates on surf conditions and special offers </h4>
                <a href="{% url 'register' %}" class="btn btn-lg btn-success color_black">SIGN UP <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
               
            </div>
        </div>
    </div>
</div>


<br>

<div class="col-sm-12 brandlogos">
    <ul>
        <li><img class="brandlogo" src="{% static 'images/dc.png' %}"/></li>
        <li><img class="brandlogo" src="{% static 'images/vans.png' %}"/></li>
        <li><img class="brandlogo" src="{% static 'images/roxy.png' %}"/></li>
        <li><img class="brandlogo" src="{% static 'images/osiris.png' %}"/></li>
        <li><img class="brandlogo" src="{% static 'images/es.png' %}"/></li>
        <li><img class="brandlogo" src="{% static 'images/vissla.png' %}"/></li>
    </ul>
</div>





<div id="magazineandblog">
    <div class="row">
        <div class="col-sm-6" id="magazine">
            <h4> 
                <a href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}" 
                class="green green-hover hvr-grow">Subscribe </a> to surfer magazine </br>
            </h4>
            <h5 class="color_black oswald"> Only €7.29 per month </h5>

            <img src="{% static 'images/surfermagazine.jpg' %}" alt="magazine" width="60%"/>
            <!-- <p><button type="submit" class="btn btn-lg btn-success subscribebutton" onclick="location.href='{% url 'login' %}'"> Subscribe</button></p> -->
        </div>  

        <a href="{% url 'blog' %}">
        <div class="col-sm-6" id="blog">
                <h4><a href="{% url 'blog' %}" class="color_black green-hover hvr-grow"> Latest from the Blog<span class="glyphicon glyphicon-circle-arrow-right"> </a></h4>
        
        {% for post in posts %}
                <hr class="line1">
                    <h5 class="green "> {{ post.title}}</h5>
                <hr class="line1">
                    <div class="bloginfo">
                        <p class="color_black"> {{ post.content|truncatewords:30 }}</p>
                    </div>
        {% endfor %}
            
        </div>
        </a>
    </div>
</div>
    
<div class="containercards">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 cardclothes">
            <img src="{% static 'images/menswear.jpg' %}" width="300px"/>
            <button type="submit" class="btn btn-lg buttoncard hvr-radial-out" onclick="location.href='{% url 'category' 1 %}'"> Shop Men </button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 cardclothes">
            <img src="{% static 'images/womanswear.jpg' %}" width="300px"/>
            <button type="submit" class="btn btn-lg buttoncard hvr-radial-out" onclick="location.href='{% url 'category' 6 %}'"> Shop Women </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 card">
            <img src="{% static 'images/surfgear.jpg' %}" width="300px"/>
            <button type="submit" class="btn btn-lg buttoncard hvr-radial-out" onclick="location.href='{% url 'category' 13 %}'"> Shop Surf Gear </button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 card">
            <img src="{% static 'images/accessories.jpg' %}" width="300px" />
            <button type="submit" class="btn btn-lg buttoncard hvr-radial-out" onclick="location.href='{% url 'category' 21 %}'"> Shop Accessories </button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 card">
            <img src="{% static 'images/footwear.jpg' %}"  width="300px"/>
            <button type="submit" class="btn btn-lg buttoncard hvr-radial-out" onclick="location.href='{% url 'category' 16 %}'"> Shop Footwear </button>
        </div>
    </div>
</div>
</div>










{% endblock content %}