{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

{% comment %}<div class="image" style="background-image: url('{% static 'images/surfing.jpg'%}')"></div>{% endcomment %}

<div id="backgroundvid">

            <video loop muted autoplay poster="img/videoframe.jpg" id="video">
                <source src="{% static "vid/surfer.mp4" %}" type="video/mp4"/>
            </video>
            {% comment %}<div class="col-sm-12 offer">
                <h1> Special Offer - 20% off all Orders </h1>
            </div>{% endcomment %}

            <div class="brandlogos">
                <ul>
                    <li><img class="brandlogo" src="static/images/dc.png"/></li>
                    <li><img class="brandlogo" src="static/images/vans.png"/></li>
                    <li><img class="brandlogo" src="static/images/roxy.png"/></li>
                    <li><img class="brandlogo" src="static/images/osiris.png"/></li>
                    <li><img class="brandlogo" src="static/images/es.png"/></li>
                    <li><img class="brandlogo" src="static/images/vissla.png"/></li>
                </ul>
        </div>
    
</div>

<div class="container">
    <div class="row shopnowimages">
        <div class="col-sm-6">
            <img src="static/images/menswear.jpg" width="300px"/>
        </div>
        <div class="col-sm-6">
            <img src="static/images/womanswear.jpg" width="300px"/>
        </div>
        <div class="col-sm-4">
            <img src="static/images/surfgear.jpg" width="300px"/>
        </div>
        <div class="col-sm-4">
            <img src="static/images/accessories.jpg" width="300px"/>
        </div>
        <div class="col-sm-4">
            <img src="static/images/footwear.jpg" width="300px"/>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h1> Featured Products </h1>
        </div>

        <div class="col-sm-3 cards">
            <img src="static/images/surfboard2.jpg"/>
        </div>

        <div class="col-sm-3 cards">
            <img src="static/images/surfboard3.jpg"/>
        </div>

        <div class="col-sm-3 cards">
            <img src="static/images/surfboard4.jpg"/>
        </div>

        <div class="col-sm-3 cards">
            <img src="static/images/surfboard2.jpg"/>
        </div>
    </div>
</div>






{% endblock content %}