{% extends 'base.html' %}

{% block content %}



<div class="col-sm-12">
    <h1> Featured Products </h1>
</div>

<div class="col-sm-3 cards">
    <img src="static/images/surfboard2.jpg"/>
</div>

<div class="col-sm-3 cards">
    <img src="static/images/surfboard3.jpg"/>
</div>

<div class="col-sm-3 cards">
    <img src="static/images/surfboard4.jpg"/>
</div>

<div class="col-sm-3 cards">
    <img src="static/images/surfboard2.jpg"/>
</div>

<div class="col-sm-12 offer">
    <h1> Special Offer </br> 20% off all orders </h1>
</div>


{% endblock content %}