body {
background-image: url("https://www.transparenttextures.com/patterns/green-cup.png");
}

h1,
h2,
h4 {
    text-align: center;
    color: black;
    font-family: 'Lobster', cursive;
}

hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

a {
    text-decoration: none !important;
}

p {
    font-family: Oswald, sans-serif;
    text-align: center;
}

legend {
    font-family: Oswald, sans-serif;
}

.green {
    color: rgb(1, 180, 151);
}

.lobster {
    font-family: Lobster, cursive;
}

.oswald {
    font-family: Oswald, sans-serif;
}

.align_centre {
    text-align: center;
}

.margin_20 {
    margin-left: 20%;
    margin-right: 20%;
}

.color_red {
    color: red;
}

.color_black {
    color: black;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hover-black:hover {
    color: black;
}

.hover-green:hover{
    color: rgb(1, 180, 151);
}

.glyphicon-circle-arrow-right {
    margin: 5px;
}

.pushdown {
    margin-top: 100px;
}

.alert-success {
    background-color: #ECAE4B;
    text-align: center;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

.messages {
    background-color: #ECAE4B;
    color: black;
    font-size: 20px;
    font-family: Oswald, sans-serif;
}

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------------------------------------------------------------*/

.freedelivery {
    background-color: rgb(1, 180, 151);
    margin: 0px;
    color: black
}

.freedelivery > h4 {
    color: black;
}

.freedeliverytext {
    margin: 0;
    color: #f5f5f5;
}

.freedeliverytext > a {
    margin-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 1px;
    color: black;
    font-size: 15px;
    font-weight: 100px;
    font-family: Oswald, sans-serif;
}

/* ------------------------------------------- Navbar CSS ----------------------------------------- */

nav {
    background-color: #f5f5f5;
}

.navbar-container {
    width: 100%;
}

.navbar-fixed {
    position: fixed;
    display: inline-block;
    z-index: 10;
    width: 100%;
}

.navbar-collapse {
    text-align: center;
    margin-bottom: 10px;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.navbar-nav > div > li > a {
      font-family: 'Lobster', cursive;
  }



#bigscreenlogo {
    display: none;
}


.navbar-nav .logo {
    opacity: 1;
    vertical-align: middle;
}

.navbar-header > a > img {
    margin: 10px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}


.searchbox {
    display:inline-block;
    position:relative;
    padding: 1.5px;
}

.searchbox > input, button {
    background-color:transparent;
    border:0;
}

.searchbox > button {
    position:absolute;
    right:0;
    top:0;
    background-color: gray;
    color: black;
}

.searchbox > input {
    padding-right:30px; /* button padding */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-family: Oswald, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-family: Oswald, sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-family: Oswald, sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-family: Oswald, sans-serif;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}

#navbarlinetop {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*hr.navbarline {
  height: 30px; 
  border-style: solid; 
  border-color: black; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;
}

hr.navbarline:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: black; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}*/

hr.navbarline {
	height: 6px;
	background: url(/static/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 0px 10% 0px 10%;
}

.menubuttons {
    padding-left: 0px;
}

.menubuttons > li {
    line-height: 20px;
}

.menubuttons > li > a {
    font-family: Lobster, cursive;
    font-size: 18px;
}

.menubuttons > ul > li {
    text-align: center;
}

.menubuttons > li {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
    list-style: none;
}

.dropdown-menu > li > a:hover {
    color: black;
    background-color: rgba(1, 180, 151, 0.6);
    border: 1px solid;
}

.dropdown > a:hover {
    color: rgb(1, 180, 151);
}

.green-hover:hover {
    color: rgb(1, 180, 151);
}

/* -----------------------------------------End Navbar CSS ----------------------------------------- */


/* -----------------------------------------Home CSS----------------------------------------- */

.jumbo {
    display: none;
}

.jumbomobile {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    height: 500px;
} 

.jumbocontentsmobile {
    text-align: center;
}


#headerlogomobile {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

hr.line1 {
  border: 0; 
  height: 2px; 
  margin-right: 20%;
  margin-left: 20%;
  background-image: -webkit-linear-gradient(left, transparent, black, transparent);
  background-image: -moz-linear-gradient(left, transparent, black, transparent);
  background-image: -ms-linear-gradient(left, transparent, black, transparent);
  background-image: -o-linear-gradient(left, transparent, black, transparent); 
}

.enteremail {
    text-align: center;
    font-size: 20px;
}

.brandlogos {
    padding: 0;
    margin-top: 0px;
    text-align: center;
}

.brandlogos > ul {
    padding-left: 0;
}

.brandlogos > ul > li {
    display: inline;
    margin: 10px;
}

.brandlogo {
    width: 35px;
    bottom: 0;
}

#magazineandblog {
    text-align: center;
    padding: 10px;
}

#blog > h4 {
    font-size: 30px;
}

#magazine > h4 {
    font-size: 30px; 
}

.bloginfo {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cardclothes > img {
    width: 100%;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.card > img {
    width: 100%;
    margin: 10px 0px 10px 0px;
    position: relative;
}

.containercards {
    text-align: center;
}

.buttoncard {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    font-family: Oswald, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px black;
}

/* ------------------------------------------End Home CSS -----------------------------------------*/

/* -----------------------------------------Categories CSS -----------------------------------------*/

.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom:12px;
}
.col-item .options {
  position:absolute;
  top:6px;
  right:22px;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .photo .options {
  display:none;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}

.col-item .options-cart {
  position:absolute;
  left:22px;
  top:6px;
  display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
  display:block;
  -webkit-animation: fadeIn .5s ease;
  -moz-animation: fadeIn .5s ease;
  -ms-animation: fadeIn .5s ease;
  -o-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
  position:absolute;
  left:42%;
  top:22%;
  display:none;
}
.col-item .options-cart-round a {
  border-radius: 50%;
  padding:14px 16px;
  background-color:#f5f5f5 ;
  
}
.col-item .options-cart-round a .fa {
  font-size:30px;
  color: rgba(34, 128, 163, 0.9);
}
.col-item .photo:hover .options-cart-round {
  display:block;
  -webkit-animation: fadeInDown .5s ease;
  -moz-animation: fadeInDown .5s ease;
  -ms-animation: fadeInDown .5s ease;
  -o-animation: fadeInDown .5s ease;
  animation: fadeInDown .5s ease;
}
.col-item .info {
  padding: 10px;
  margin-top: 1px;
}
.col-item .price-details {
  width: 100%;
  margin-top: 5px;
}
.col-item .price-details h2 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float:left;
}
.col-item .price-details .details {
  margin-bottom: 0px;
  font-size:12px;
}
.col-item .price-details span {
  float:right;
}
.col-item .price-details .price-new {
  font-size:16px;
}
.col-item .price-details .price-old {
  font-size:18px;
  text-decoration:line-through;
}
.col-item .separator {
  border-top: 1px solid #E1E1E1;
}

.col-item .clear-left {
  clear: left;
}
.col-item .separator a {
  text-decoration:none;
}
.col-item .separator p {
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}

.col-item .separator p i {
  margin-right: 5px;
}
.col-item .btn-add {
  width: 60%;
  float: left;
}
.col-item .btn-add a {
  display:inline-block !important;
}
.col-item .btn-add {
  border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
  width: 40%;
  float: left;
  padding-left: 10px;
}
.col-item .btn-details a {
  display:inline-block !important;
}
.col-item .btn-details a:first-child {
  margin-right:12px;
}

.modal {
    margin-right: 5%;
    margin-left: 5%;
}

.size {
    display: inline;
    margin-right: 10%;
}

.pop-up {
  height:auto;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  background:#fff;
  position:absolute;
  z-index:1;
  border-radius:5px;
  box-shadow:0 0 20px #000;
}

.pop-up > span {
  border-radius:3em;
  margin-left:95%;
  background:#212121;
  color:#fff;
  font-size:1.25em;
  padding:.4em .7em;
  cursor:pointer;
}
.pop-up-text {
  box-sizing:border-box;
  padding:20px; 

}
.pop-up-text h1{
  font-size:2em;
	font-weight:bold;
  margin-bottom:20px;
	color:#212121;
}
.pop-up-text p{
  font-size:1em;
  margin-bottom:1em;
  text-align: left; 
}
.pop-up-text a {
  color:#FF3D3D;
  margin-bottom:10px;
}
.pop-up-text img {
  max-height:250px;
  width:100%;
  text-align:center;
  margin-bottom:10px;
} 

.btn-success {
    background-image: linear-gradient(rgb(1, 180, 151), rgb(1, 180, 151), rgb(1, 180, 151));
    color: black;
    border-color: rgb(1, 180, 151);
    border-radius: 25px;
    }
.btn-success:hover,
.btn-success:focus,
.btn-success:active    {
    background-color: rgb(1, 180, 151);
    color: #FFF;
    border-color: rgb(1, 180, 151);
    }
.btn-danger {
    border-radius: 50px;
    color: black;
    border: none;
}



/* -----------------------------------------End Categories CSS--------------------------------- */

/* ----------------------------------------- Blog CSS -----------------------------------------*/
#blogpostsmain {
    background: #f5f5f5;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

#newpostbutton {
    float: right;
    margin-right: 20px;
}

/*----------------------------------------- End Blog CSS -----------------------------------------*/


/* -----------------------------------------Account CSS -----------------------------------------*/
.form-control {
    width: 100%;
}

/* ----------------------------------------- End Account CSS ------------------------------------*/

/* -----------------------------------------Cart CSS -----------------------------------------*/




/* ----------------------------------------- End Cart CSS ------------------------------------*/

.contactform {
    text-align: center;
    padding: 0px 40px 40px 40px;
}


/* -----------------------------------------Footer CSS -----------------------------------------*/

#footer {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}

.footericons {
    text-align: center;
}
.footericons > li {
    display: inline
}

.footericons > li > h4 {
    font-family: Oswald, sans-serif;
    font-size: 15px;
}

.footerinfo {
    text-align: center;
}

.footerinfo > h4, h5 {
    font-family: Oswald, sans-serif;   
}

.footerinfo > h5 {
    color: #555555;
}

/* -----------------------------------------End Footer CSS -----------------------------------------*/

/* -----------------------------------------Hover.CSS -----------------------------------------*/

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Radial Out */
.hvr-radial-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(1, 180, 151);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
 .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
  border: none;
} 
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}








/* ===========================================MEDIA SCREEN========================================= */

@media screen and (min-width:768px) {

.pushdown {
    margin-top: 240px;
}

.freedeliverytext > a {
    font-size: 18px;
    font-weight: 100px;
    font-family: Oswald, sans-serif;
}

#bigscreenlogo {
    display: inherit;
}

#mobilelogo {
    display: none;
}

/* ----------------------------------------- Navbar CSS ----------------------------------------- */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    text-align: center;
}

.navbar-collapse {
    display: inherit;
    margin-top: 30px;
}

.navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.navbar-nav > div > li > a > img {
    display: inherit;
    margin-bottom: 20px;
}

.navright {
    margin-left: 300px;
}

.navbar-nav > div > li {
    display: inline;
    margin: 10px;
}

.topnav {
    padding-top: 30px;
    padding-right: 10%;
}

.topnav > li {
    display: inline;
    vertical-align: middle;
}

.searchbox {
    padding: 4px;

}

.searchbox > form {
    display: inline;
}


#navbarline {
    position: relative;
}

#navbarlinetop {
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbarlinebottom {
    margin-bottom: 5px;
}
 
.menubuttons > li {
    display: inline;
}

.menubuttons > li > a {
    font-size: 22px;
    margin: 15px;
}

ul.menubuttons li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

.dropdown > a {
    margin: 0;
}

.dropdown-menu {
    margin-top: 0px;
}

/* ---------------------------------------- End Navbar CSS --------------------------------------- */

/* ---------------------------------------- Home CSS ----------------------------------------- */

.jumbomobile {
    display: none;
}

 .jumbo {
    display: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    width: 100%;
} 

.jumbocontents {
    margin: 10% 25%
}

#headerlogo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


#shopnowimages > div > img {
    width: 100%;
    margin: 5px;
}

.offer {
    margin-bottom: 20px;
}

.brandlogos {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.brandlogo {
    width: 120px;
    margin-top: 200px;
    margin: 20px;
    margin-bottom: 0;
}

.enteremail > h4 {
    font-size: 30px;
}

#subscribetomagazine {
    text-align: center;
}

.subscribebutton {
    margin-top: 10px;
}

.cardclothes > img {
    max-width: 600px;
}

.card > img {
    max-width: 400px;
}


/* ---------------------------------------- End Home CSS ----------------------------------------- */

/* ---------------------------------------- Blog CSS ----------------------------------------- */

#blogpostsmain {
    margin: 20px 200px;
}

#blogpostimagediv {
    margin: 0;
    display: inline;
    padding: 0;
}

#blogpostinfodiv {
    display: inline;
}

#blogpostimage {
    margin: 0;
    width: 100%;
}

/* ---------------------------------------- End Blog CSS ----------------------------------------- */

.contactform {
    padding: 0px 110px 110px 110px;
}

.contactdetails {
    margin-top: 5%;
}


}




