body {
/*background-color: rgba(34, 128, 163, 0.6);*/
background-image: url("https://www.transparenttextures.com/patterns/green-cup.png");
}

h2,
h4 {
    text-align: center;
    color: black;
}

hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.freedelivery {
    background-color: rgba(34, 128, 163, 0.8);
    margin: 0px;

}

.freedeliverytext {
    margin-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 1px;
    color: beige;
    font-size: 15px;
    font-weight: 100px;
}

.pushdown {
    margin-top: 100px;
}

/* Navbar CSS*/

nav {
    background-color: white;
    /*background-image: url('static/images/surfing.jpg');*/
    /*padding-bottom: 10px;*/
}

.navbar-container {
    width: 100%;
}

.navbar-fixed {
    position: fixed;
    display: inline-block;
    z-index: 10;
    width: 100%;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.navbar-nav > div > li > a {
      color: black;
  }

.navbar-nav > div > li > a > img {
    display: none;
}


.menubuttons > li > a {
    color: black;
}

.navbar-nav .logo {
    opacity: 1;
    vertical-align: middle;
}

.navbar-header > a > img {
    margin: 10px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.searchbox {
    border:1px solid gray;
    display:inline-block;
    position:relative;
    padding: 1.5px;
    margin: 10px;
}

.searchbox > input,
button {
    background-color:transparent;
    border:0;
}

.searchbox > button {
    position:absolute;
    right:0;
    top:0;
    background-color: gray;
    color: black;
}

.searchbox > input {
    padding-right:30px; /* button padding */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

#salebutton {
    color: red;
}

/* End Navbar CSS */


/* Home CSS */

.image {
 background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 250px;
  margin-bottom: 0px;
    -webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}

#backgroundvid {
    width: 100%;
    height: 250px;
    display: inline-block;
    position: relative;
    margin-top: 50px;
}



#videoblock, #videocontent {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

#videocontent *{
    padding: 0.4em;
    margin: 0;
}

#video {
    width: 100%;
    height: 200px;
}

.offer {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.7);
    margin-top: 10px;
}

.offer > h1 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.brandlogos {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 60px;
}

.brandlogos > ul {
    padding-left: 0;
}

.brandlogos > ul > li {
    display: inline;
    margin: 10px;
}

.brandlogo {
    width: 30px;
    bottom: 0;
}

#shopnowimages > div > img {
    margin: 5px;
    width: 100%;
}

.cards > img {
    border: solid 1px;
    height: 200px;
    width: 200px;
}

/* End Home CSS */

/* Blog CSS */
#blogpostsmain {
    background: white;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

#newpostbutton {
    float: right;
    margin-right: 20px;
}


/* Blog CSS */




@media screen and (min-width:768px) {

nav {
    padding-bottom: 30px;
}

.pushdown {
    margin-top: 240px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}    
.freedeliverytext {
    padding-bottom: 2px;
    font-size: 20px;
}
.image {
    margin: 30px;
    max-height: 300px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse {
    display: inherit;
    margin-top: 30px;
}

.navbar-nav {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.navbar-nav > div > li > a > img {
    display: inherit;
    margin-bottom: 20px;
}

.navbar-header > a > img {
    display: none;
}

.navright {
    margin-left: 300px;
}

.navbar-nav > div > li {
    display: inline;
    margin: 10px;
}

.menubuttons1 {
    display: none;
}

.searchbox {
    padding: 4px;
    margin-left: 50px;
}

#shopnowimages > div > img {
    width: 100%;
    margin: 5px;
}

.offer {
    margin-bottom: 20px;
}

#backgroundvid {
    height: 600px;
}

.brandlogo {
    width: 120px;
}

#video {
    height: 600px;
}

#blogpostsmain {
    margin: 20px 200px;
}

#blogpostimagediv {
    margin: 0;
    display: inline;
    padding: 0;
}

#blogpostinfodiv {
    display: inline;
}

#blogpostimage {
    margin: 0;
    width: 100%;
}


.brandlogos {
    left: 20%;
    margin-bottom: 20px;
}

}


