body {
/*background-color: rgba(146, 199, 226, 0.89);*/
/*background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 rgba(146, 199, 226, 0.89);
background-size:110px 480px;
background-repeat:repeat-x;*/
background-color: #008cbf;
background-image: url("https://www.transparenttextures.com/patterns/green-cup.png");
}

h2,
h4 {
    text-align: center;
    color: black;
}


hr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar-collapse {
    margin-top: 30px;
    text-align: center;
}

.image {
 background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 350px;
}


.navbar-nav .logo {
    opacity: 1;
    vertical-align: middle;
}

.cards > img {
    border: solid 1px;
    height: 200px;
    width: 200px;
}

.freedelivery {
    background-color: black;
    margin: 0px;

}

/*.freedelivery:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    background: linear-gradient(-45deg, transparent 75%, black 75%) 0 50%, linear-gradient(45deg, transparent 75%, black 75%) 0 50%;
    background-size: 30px 30px;

}*/

.freedeliverytext {
    margin-top: 0px;
    margin-bottom: 1px;
    color: white;
}

.offer {
    width: 100%;
    background-color: black;
    color: white;
}

@media screen and (min-width:768px) {
    /*.navbar-nav .logo {
        display:none;
    }*/

    .image {
        margin: 30px;
        height: 400px;
    }

    .navbar-collapse {
        display: inherit;
    }
}


