{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}
    <form role="form" method="post" id="payment-form" action="{% url 'buy_now_stripe' product.id %}">
    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <legend>Buy It Now!</legend>

    <div>
        <p><img height="100" width="100" src="{{ MEDIA_URL }}{{ product.image }}"></p>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
    </div>

    <hr>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <form role="form" method="POST" id="address-form">
            <legend> Enter Your Address </legend>

        </form>
    </div>
        
        
    <div class="col-sm-12 col-md-6 col-lg-6">   
        <form role="form" method="POST" id="payment-form" action="{% url 'cart' %}">
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <legend>Pay Now or <a href="{% url 'products' %}" class="green green-hover hvr-grow"> Add More To Your Basket!</a></legend>

            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <input class="btn btn-lg btn-success hvr-grow" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
    </div>
</div>
{% endblock %}