{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}
<div class="container-fluid">


    <div>
        <p><img width="20%" src="{{ MEDIA_URL }}{{ product.image }}"></p>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>€{{ product.price }}</p>
    </div>

    <hr>

<div class="row">
    <div class="col-sm-12">   
        <form role="form" method="POST" id="payment-form" action="{% url 'cart' %}" class="align_centre margin_20">
            <div id="credit-card-errors" style="display:none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <legend>Pay Now or <a href="{% url 'products' %}" class="green green-hover hvr-grow"> Add More To Your Basket!</a></legend>

            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="form-group">
                <input class="btn btn-lg btn-success hvr-grow" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}